name = 'country-codes-api'
main = 'dist/index.mjs'

workers_dev = true
compatibility_date = '2023-07-27'
account_id=''
usage_model = 'bundled'

[miniflare]
kv_persist = false
env_path = '.env.test'

[vars]
ENV = 'development'
CORS_ORIGINS = ['*']

[env.production.vars]
ENV = 'production'
CORS_ORIGINS = ['*']

[build]
command = 'npm run build'

# [secrets]
